* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #181818;
}

.container {
  width: 1300px;
  max-width: 95%;
  margin: 0 auto;
}

:root {
  --orange-color: #ff4a17;
  --grey-color: #6c757d;
}

header {
  background-color: #000;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container > ul {
  display: flex;
  height: 100%;
  gap: 30px;
}
header .container > ul > li {
  height: 100%;
}

header .container > ul > li > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

header a {
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
}

header a:hover {
  color: var(--orange-color);
}
.active {
  color: var(--orange-color);
}

header ul i {
  font-size: 12px;
  padding-left: 3px;
}

.has-dropdown {
  position: relative;
}

.dropdown {
  background-color: #181818;
  position: absolute;
  left: 0;
  top: calc(100% + 15px);
  width: 280px;
  border-top: 2px solid var(--orange-color);
  padding: 15px 10px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.dropdown a {
  display: block;
  padding: 10px 15px;
}

.has-dropdown:hover > .dropdown {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.bar-menu label {
  color: #fff;
  position: relative;
  cursor: pointer;
}

.side-bar {
  width: 500px;
  visibility: hidden;
  opacity: 0;
  min-height: 100vh;
  background-color: rgb(24, 24, 24);
  position: absolute;
  right: 0;
  top: 0;

  transition: 0.5s;
  padding: 30px;
  transform: translateX(100%);
}

.side-bar div {
  position: relative;
  z-index: 1;
}

.side-bar label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.side-bar label:hover {
  color: red;
  border: 1px solid red;
  transform: scale(1.1);
}

#bar:checked + label + .side-bar {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

input[type="radio"] {
  display: none;
}

.sidebar-details {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebars-header h2 {
  padding-top: 10px;
}
.sidebar-details h2 {
  color: #fff;
}

.sidebar-contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sidebar-contact ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-contact ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--grey-color);
}

.sidebar-contact ul i {
  color: var(--orange-color);
}

.sidebar-subscribe {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-subscribe p {
  color: var(--grey-color);
}

.sidebar-subscribe .ball {
  height: 170px;
  width: 200px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: -30px;
  z-index: -1;
  border-top-left-radius: 100%;
}

.input {
  width: 370px;
  background-color: #000;
  border-radius: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}
.input input {
  width: 80%;
  padding: 15px 20px;
  background-color: #000;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 20px;
  border-radius: 15px;
  background-color: var(--orange-color);
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.btn::before {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #00000060;
  transition: 0.4s;
}

.btn:hover::before {
  width: 100%;
}

.sidebar-icons {
  display: flex;
  gap: 10px;
}

.sidebar-icons i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.sidebar-icons i:hover {
  border: 2px solid var(--orange-color);
  transform: scale(1.1);
}

.hero {
  min-height: 120vh;
  background-image: url("https://arino-react.vercel.app/images/hero_bg.jpeg");
  background-position: center;
  background-size: cover;
}

.hero h1 {
  font-size: 100px;
  color: #fff;
  padding: 200px 0 100px 0;
}

.hero-text {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.text-left {
  color: #fff;
}
.text-left span {
  font-size: 16px;
  position: relative;
  padding-bottom: 3px;
  cursor: pointer;
}

.text-left span::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--orange-color);
  position: absolute;
  top: 100%;
  left: 0;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.2, 1.4, 0.4, 1);
}

.text-left span:hover::before {
  width: 100%;
}

.text-left span:hover + i {
  color: var(--orange-color);
}

.text-left span:hover {
  color: var(--orange-color);
}

.text-right p {
  font-size: 20px;
  line-height: 30px;
}

.mause {
  width: 20px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.mause-position {
  position: absolute;
  left: 50%;
  top: calc(100% + 30px);
}

.mause::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  animation: move 2s infinite alternate;
}

@keyframes move {
  to {
    top: 25px;
    opacity: 0.2;
  }
}

.fun-sct {
  position: relative;
  height: 290px;
}

.fun {
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 100%;
  background: url("https://arino-react.vercel.app/images/funfact_shape_bg.svg"),
    linear-gradient(267.18deg, #161616, #080808);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 10px;
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fun h2,
.num {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}

.fun p {
  color: var(--grey-color);
  font-size: 18px;
  line-height: 25px;
}

.fun i {
  color: var(--orange-color);
  font-size: 14px;
}

.fun-numbers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.fun-number {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.fun-text,
.fun-numbers {
  width: 50%;
}

.fun-text h2 {
  padding-bottom: 30px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.div2 {
  grid-column-start: 2;
}

.div3 {
  grid-column-start: 4;
}

.div4 {
  grid-row-start: 2;
}

.div5 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.services .container {
  display: flex;
  justify-content: space-between;
}

.parent div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.services-right {
  width: 70%;
}

.services-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.colored {
  color: var(--grey-color);
  font-size: 18px;
  font-weight: bold;
}

.services-left h1 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.parent div {
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  z-index: 0;
}

.parent div:hover {
  filter: drop-shadow(0 0 30px rgba(255, 74, 23, 0.5));
}

.parent > div h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 22px;
  z-index: 1;
}

.parent div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.4;
  border-radius: 15px;
}

.slider-header {
  padding: 40px 0;
  text-align: center;
}

.slider-header h2 {
  font-size: 50px;
}

.slider {
  padding: 50px;
  color: #fff;
}

.swiper-slide {
  transition: 0.4s;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.custom-slider .swiper-slide-active {
  transform: scale(1.1) !important;
}

.swiper.custom-slider {
  padding: 80px 0;
}

.swiper-pagination * {
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--orange-color) !important;
}

.awards {
  padding: 50px 0;
  position: relative;
}

.awards .container {
  display: flex;
  justify-content: space-between;
}

.awards-details {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  width: 60%;
}
.details-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-text h3 {
  color: var(--orange-color);
  font-size: 30px;
}

.details-text h2 {
  color: #fff;
  font-size: 22px;
}
.details-text p {
  color: var(--grey-color);
  font-size: 16px;
}

.awards-header h2 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  padding-top: 20px;
}

.triangle {
  width: 200px;
  height: 200px;
  background-color: #000;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: triangle-move 2s infinite alternate;
}

@keyframes triangle-move {
  from {
    width: 150px;
    height: 150px;
  }
}

.video .container > h2 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  line-height: 60px;
}

.video {
  padding: 50px 0;
}

.player-bg {
  height: 600px;
  background-image: url("https://arino-react.vercel.app/images/video_bg.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play > label {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  25% {
    box-shadow: 0 0 0 3px #fff;
  }
  100% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
}

.video-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* arxa fon qaranlıq effekt üçün */
}

/* Video konteyner (iframe-i və close düyməsini tutsun) */
.video-modal > div {
  position: relative;
  width: 100%;

  height: 100vh;
}

/* Close ikonunun yerləşməsi */
.video-modal div label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 20;
  transition: 0.3s;
}

.video-modal div label:hover {
  color: #ff4444;
}

.video-modal iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.video-modal {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#play-btn:checked + label + .video-modal {
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

.team {
  padding: 50px 0;
}

/* 1. Naviqasiyanın yerini düzəldin */
.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* 2. Swiper-in defolt position stillərini ləğv edin */
.team-header .team-prev,
.team-header .team-next {
  color: #fff;
  position: static;
  z-index: 1;
  width: 60px;
  height: 40px;
  border: 1px solid #fff;
  font-size: 20px !important;
  transition: 0.5s;
}

/* 3. İki düymə arasındakı məsafəni tənzimləyin */
.navigation {
  display: flex;
  gap: 10px;
}

.team-header .team-prev:hover,
.team-header .team-next:hover {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.slider-team .swiper-slide {
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
}

.team-text h1 {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
}

.swiper-slide {
  position: relative;
}

.swiper-slide .slide-text {
  position: absolute;
  color: #fff;
  bottom: 50px;
  left: 20px;
}

.slide-text h3 {
  font-size: 25px;
  padding-bottom: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.slide-text h3:hover {
  color: var(--orange-color);
}

.swiper-slide .swiper-icons {
  position: absolute;
  color: #fff;
  left: 20px;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}

.swiper-slide .swiper-icons i {
  transform: rotate(45deg) scale(0);

  transition: 0.6s;
  cursor: pointer;
}

.swiper-slide .swiper-icons i:hover {
  color: var(--orange-color);
}

.swiper-slide:hover .swiper-icons i {
  transform: rotate(0) scale(1);
}

.dbl-slider {
  height: 100vh;
  display: flex;
  align-items: center;
}

.swiper-img .swiper-slide {
  /* width: 200px !important; */
  height: 200px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  overflow: hidden;
}

.swiper-img .swiper-slide-active {
  transform: scale(1.4) !important;
  z-index: 1;
}

.swiper.swiper-img {
  padding: 80px 0;
}

.dbl-slider .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-img {
  width: 50%;
}

.swiper-txt {
  width: 45%;
  position: relative;
}

.txt-prev,
.txt-next {
  color: #fff !important;
  position: static !important;
  z-index: 1;
  width: 65px !important;
  height: 40px !important;
  border: 1px solid #fff;
  font-size: 20px !important;
  transition: 0.5s;
}

.txt-prev:hover,
.txt-next:hover {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

.dbl-navg {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 10px;
}

.dbl-slider h2 {
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  padding-bottom: 20px;
}

.dbl-slider .stars {
  color: var(--orange-color);
  font-size: 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

.dbl-slider .navg-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dbl-slider .navg-txt h3 {
  color: #fff;
  font-size: 25px;
}

.blog {
  height: 70vh;
  position: relative;
}

.right-slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
}

.mySwiperRight {
  height: 60%;
}

.mySwiperRight .swiper-slide img {
  border-radius: 20px;
}

.mySwiperRight .swiper-button-next,
.mySwiperRight .swiper-button-prev {
  color: white;
}

.mySwiperRight .swiper-slide {
  position: relative;
}

.mySwiperRight .swiper-slide::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00000062;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.swiper-slide .slide-text {
  position: absolute;
  left: 15px;
  top: 70%;
}

.left-container {
  padding-left: 100px;
}

.left-container h1 {
  font-size: 50px;
  color: #fff;
  padding: 25px 0;
}

.moving-text {
  width: 100%;
  white-space: nowrap;
  font-size: 24px;
  padding: 15px 0;
  position: relative;
  overflow: hidden;
}

.moving-text p {
  display: inline-block;
  padding-left: 100%;
  animation: moveText 22s linear infinite;
  font-size: 120px;
  letter-spacing: 30px;
  -webkit-text-stroke: 2px var(--orange-color);
  color: transparent;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

footer>div{
  width: 24%;
}

footer h2{
  color: #fff;
  padding-bottom: 30px;
}

footer li,
footer p{
  color: var(--grey-color);
  transition: 0.4s;
  font-size: 18px;
  line-height: 25px;
}

footer li:hover{
color: var(--orange-color);
cursor: pointer;
}

footer ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo-footer p{
  padding-bottom: 20px;
  
}

.subscribe p{
  padding-top: 20px;
}